@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

.skillcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px 0;
}

.skillcontainer>.skillcontainer__image>h2{
    color: white;
    padding-bottom: 30px;
    padding-top: 10px;
   
}


.skillcontainer__text{
    color: white;
    flex: 0.6;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
}

.skillcontainer__text >h2{
    font-size: 30px;
}

.skillcontainer__image{
    flex:0.4;
    text-align: center;
    margin-right: 100px;

}

.skillcontainer__image >img{
    width: 600px;
    border-radius: 3px;
    object-fit: contain;
}

.skillcontainer__skillset >h5{
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    padding-bottom: 30px;
    padding-top: 10px;

}

.skillcontainer__slider > .css-eglki6-MuiLinearProgress-root{
    background-color: rgb(88,88,88);
}

.skillcontainer__slider1 >.css-eglki6-MuiLinearProgress-root   >.css-5xe99f-MuiLinearProgress-bar1{
    background-color: tomato;

}

.skillcontainer__slider2 >.css-eglki6-MuiLinearProgress-root   >.css-5xe99f-MuiLinearProgress-bar1{
    background-color: rgb(156,26,3);

}

.skillcontainer__slider3 >.css-eglki6-MuiLinearProgress-root   >.css-5xe99f-MuiLinearProgress-bar1{
    background-color: rgb(255,145,0);

}

.skillcontainer__slider4 >.css-eglki6-MuiLinearProgress-root   >.css-5xe99f-MuiLinearProgress-bar1{
    background-color: rgb(228,213,0);

}

.skillcontainer__slider5 >.css-eglki6-MuiLinearProgress-root   >.css-5xe99f-MuiLinearProgress-bar1{
    background-color: rgb(0, 127, 146);

}

.skillcontainer__slider6 >.css-eglki6-MuiLinearProgress-root   >.css-5xe99f-MuiLinearProgress-bar1{
    background-color: rgb(117,127,0);

}