.contact{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: -180px 0 100px ;
    align-items: center;


}

.title1{
    padding: 10px;
    margin-bottom: 10px;

}

.contact__container{
    border: 1px solid white;
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__container>p{
    font-size: 20px;
    text-align: left;
    padding-bottom: 10px;
}

.contact__container >p>span{
    color:#f64c08;
}

.hello{
    padding: 10px;
  margin-bottom: 1px;
    
    
}